@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout!;
    }
    else
    {
        Layout = "/Views/Shared/_Layout.cshtml";
    }
}

@section CustomCss
{
    @await RenderSectionAsync("CustomCss", false)
}

<div class="container">
    <h1>Change your account settings</h1>
    <div>
        <hr/>
        <div class="row">
            <div class="col-md-3">
                <partial name="_ManageNav"/>
            </div>
            <div class="col-md-9">
                @RenderBody()
            </div>
        </div>
    </div>
</div>

@section Scripts 
{
    @await RenderSectionAsync("Scripts", false)
}