.imgContainer {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.preImg,
.currentAvatar {
    max-height: 100px;
    border-radius: 50%;
}

.cropper-view-box {
    border-radius: 50%;
    outline: none;
}

.cropper-face.cropper-move {
    opacity: 0;
}

.ep-slider-bar {
    margin-top: 20px;
}

.cropper {
    display: none;
}