@page
@model ForgotPasswordModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title> Mike Robinson's Site - Forgot your password</title>
    <link rel="stylesheet" type="text/css" href="~/css/Auth/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="~/css/Auth/fontawesome-all.min.css"/>
    <link rel="stylesheet" type="text/css" href="~/css/Auth/style.min.css"/>
    <link rel="stylesheet" type="text/css" href="~/css/Auth/theme.min.css"/>
</head>
<body>
<div class="form-body">
    <div class="website-logo">
        <a asp-action="Index" asp-controller="Home"
           >
            <div class="logo">
                <img class="logo-size" src="~/imgs/Auth/logo.svg" alt=""/>
            </div>
        </a>
    </div>
    <div class="row">
        <div class="img-holder">
            <div class="bg"></div>
            <div class="info-holder">
                <img src="~/imgs/Auth/graphic2.svg" alt=""/>
            </div>
        </div>
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <h3>Password Reset</h3>
                    <p>To reset your password, enter the email address you use to sign in to mikemrobinsondev.com</p>
                    <form id="forgetForm" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" placeholder="E-mail Address" aria-required="true" required/>
                        <div class="form-button full-width">
                            <button id="submitbtn" type="submit" class="ibtn btn-forget">Send Reset Link</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

<script src="~/js/Auth/jquery.min.js"></script>
<partial name="_ValidationScriptsPartial"/>
<script src="~/js/Auth/popper.min.js"></script>
<script src="~/js/Auth/bootstrap.min.js"></script>
<script src="~/js/Auth/main.js"></script>