@page
@model LoginWith2FaModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title> Mike Robinson's Site - Login with 2FA</title>
    <link rel="stylesheet" type="text/css" href="~/css/Auth/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="~/css/Auth/fontawesome-all.min.css"/>
    <link rel="stylesheet" type="text/css" href="~/css/Auth/style.min.css"/>
    <link rel="stylesheet" type="text/css" href="~/css/Auth/theme.min.css"/>
</head>
<body>
<div class="form-body">
    <div class="website-logo">
        <a asp-action="Index" asp-controller="Home">
            <div class="logo">
                <img class="logo-size" src="~/imgs/Auth/logo.svg" alt=""/>
            </div>
        </a>
    </div>
    <div class="row">
        <div class="img-holder">
            <div class="bg"></div>
            <div class="info-holder">
                <img src="~/imgs/Auth/graphic2.svg" alt=""/>
            </div>
        </div>
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <h3>Two-factor authentication</h3>
                    <p>Your login is protected with an authenticator app. Enter your authenticator code below.</p>
                    <form id="twoFactorAuthentication" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input asp-for="RememberMe" type="hidden"/>
                        <input asp-for="Input.TwoFactorCode" class="form-control" autocomplete="off"/>
                        <label asp-for="Input.TwoFactorCode" class="form-label"></label>
                        <span asp-validation-for="Input.TwoFactorCode" class="text-danger"></span>
                        <div class="checkbox">
                            <label asp-for="Input.RememberMachine" class="form-label">
                                <input asp-for="Input.RememberMachine"/>
                                @Html.DisplayNameFor(m => m.Input.RememberMachine)
                            </label>
                        </div>
                        <div class="form-button full-width">
                            <button id="submitbtn" type="submit" class="ibtn">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

<script src="~/js/Auth/jquery.min.js"></script>
<partial name="_ValidationScriptsPartial"/>
<script src="~/js/Auth/popper.min.js"></script>
<script src="~/js/Auth/bootstrap.min.js"></script>
<script src="~/js/Auth/main.js"></script>


<!--
<section id="loginWithTwoFactorAuthentication">
    <div class="container my-5">
        <p>Your login is protected with an authenticator app. Enter your authenticator code below.</p>
        <div class="row">
            <div class="col-12 col-md-10 col-lg-7 col-xl-6 form-section">
                <form method="post" asp-route-returnUrl="@Model.ReturnUrl">
                    <h2 class="mb-0">Two-factor authentication</h2>
                    <hr class="mt-0"/>
                    <input asp-for="RememberMe" type="hidden"/>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-floating">
                        <input asp-for="Input.TwoFactorCode" class="form-control" autocomplete="off"/>
                        <label asp-for="Input.TwoFactorCode" class="form-label"></label>
                        <span asp-validation-for="Input.TwoFactorCode" class="text-danger"></span>
                    </div>
                    <div>
                        <div class="checkbox">
                            <label asp-for="Input.RememberMachine" class="form-label">
                                <input asp-for="Input.RememberMachine"/>
                                @Html.DisplayNameFor(m => m.Input.RememberMachine)
                            </label>
                        </div>
                    </div>
                    <div>
                        <button type="submit" class="w-100 btn btn-lg default-btn">Log in</button>
                    </div>
                </form>
            </div>
        </div>
        <p>
            Don't have access to your authenticator device? You can
            <a id="recovery-code-login" asp-page="./LoginWithRecoveryCode" asp-route-returnUrl="@Model.ReturnUrl">log in with a recovery code</a>.
        </p>
    </div>
</section> -->