@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="accessDenied" class="bd-bottom padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 wow fadeInLeft" data-wow-delay="200ms">
                <div class="section-heading pb-2">
                    <h2>Access denied</h2>
                    <h3>Unfortunately, you do not have the access required to view this page. Please try another.</h3>
                </div>
                <div class="short-intro">
                    <div class="intro-thumb">
                        <a class="play-btn venobox" style="position: relative; top: 0; left: 15px;" data-vbtype="video" href="https://www.youtube.com/watch?v=L1jAr466DJc">
                            <span class="play-icon">
                                <svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                    <path fill="currentColor"
                                          d="M424.4 214.7L72.4 6.6C43.8-10.3 0 6.1 0 47.9V464c0 37.5 40.7 60.1 72.4 41.3l352-208c31.4-18.5 31.5-64.1 0-82.6z"></path>
                                </svg>
                            </span>
                        </a>
                    </div>
                    <div class="intro-text pt-3">
                        <p class="fw-bold">In the mean time, you can press the play button above and enjoy.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 d-none d-lg-block">
                <div class="about-bg-holder">
                    <div class="wow fadeInUp" data-wow-delay="200ms">
                        <img src="~/imgs/accessDenied.svg" style="margin-top: -90px" alt="a man with a magnifying glass" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--/. accessDenied-section -->